 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    font-family: "Montserrat", sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
    display: none;
}

.answers {
    display: flex;
}

.question {
    font-size: 5em;
}

.answer {
    font-size: 3em;
    border: 1px solid rgb(26, 83, 70);
    border-radius: 15px;
    min-width: 60px;
    height: 60px;
    text-align: center;
    margin: 10px;
    cursor: pointer;
    background-color: rgb(95, 222, 201);
    padding: 10px;
}

.start{
    width: min-content;
    padding: 30px;
    margin: 0 auto;
    font-size: 4em;
    border: 1px solid rgb(51, 124, 102);
    cursor: pointer;
    background-color: rgb(148, 242, 225);
    border-radius: 30px;
    

}

.main-container {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
